<template>
  <div>
    <ul>
      <li
          v-for="color of colors"
          :key="color"
          :class="{
          preferred: !$colorMode.unknown && color === $colorMode.preference,
          selected: !$colorMode.unknown && color === $colorMode.value
        }"
      >
        <IconDark v-if="dark === color" @click="$colorMode.preference = color" />
        <IconLight v-else-if="light === color" @click="$colorMode.preference = color" />
        <IconSepia v-else-if="sepia === color" @click="$colorMode.preference = color" />
        <IconSystem v-else @click="$colorMode.preference = color" />
      </li>
    </ul>
  </div>
</template>

<script>
import IconDark from './IconDark';
import IconLight from './IconLight';
import IconSepia from './IconSepia';
import IconSystem from './IconSystem';

const dark = 'dark';
const light = 'light';
const sepia = 'sepia';

export default {
  components: {
    IconDark,
    IconLight,
    IconSepia,
    IconSystem,
  },
  data() {
    return {
      dark,
      light,
      sepia,
      colors: [dark, light, sepia, 'system'],
    }
  }
}
</script>

<style scoped>
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  display: inline-block;
  padding: 5px;
}
p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 20px;
}
.feather {
  position: relative;
  top: 0px;
  cursor: pointer;
  padding: 7px;
  background-color: var(--bg-secondary);
  border: 2px solid var(--border-color);
  margin: 0;
  border-radius: 5px;
  transition: all 0.1s ease;
}
.feather:hover {
  top: -3px;
}
.preferred .feather {
  border-color: var(--color-primary);
  top: -3px;
}
.selected .feather {
  color: var(--color-primary);
}
</style>
